.App {
  text-align: center;
  background-color: silver;
  margin: 0%;
  padding: 0%;
}

h1{
  margin: 0%;
  padding: 2rem 2rem 0 0;
  font-size: 2rem;
  font-family: cursive;
}

h3{
  font-size: 1.5rem;
  font-family: cursive;
  font-style: italic;
  padding: 2% 4%;
}

h4{
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(248, 226, 218);
  padding: 2% 2%;
}

.posts{
  display:flex;
  padding: 3% 3%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #F5C7B8FF;
  background-image: url('https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
 
}

.post{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
align-content: center;
margin: 3% 2%;
padding: 5% 2%;
background-color:#FFA177FF ;  
border-radius: 8px;
box-shadow: dimgray 4px 4px ;
font-size: 1.2rem;
font-family: cursive;
}

 
.addForm{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(248, 226, 218);
  margin: 2% auto;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: white 4px 4px;
  max-width: 50%;
}